<form>

  <mat-card>
    <mat-card-title>
      Basic Coffee Information
    </mat-card-title>
    <mat-form-field>
      <input matInput placeholder="Coffee Name" name="name" [(ngModel)]="coffee.name">
    </mat-form-field>
    <mat-select placeholder="Coffee Type" name="type" [(ngModel)]="coffee.type">
      <mat-option *ngFor="let type of types" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Place Information
    </mat-card-title>
    <mat-form-field>
      <input matInput placeholder="Place Name" name="place" [(ngModel)]="coffee.place">
    </mat-form-field>

<!--    <mat-form-field>-->
<!--      <input matInput placeholder="Address" name="address" [(ngModel)]="coffee.location ? coffee.location.address : null">-->
<!--    </mat-form-field>-->

<!--    <mat-form-field>-->
<!--      <input matInput placeholder="City" name="city" [(ngModel)]="coffee.location? coffee.location.city : null">-->
<!--    </mat-form-field>-->
  </mat-card>

  <mat-card>
     <mat-card-title>
      Ratings
    </mat-card-title>

    <mat-card-subtitle>Overall Rating</mat-card-subtitle>
    <mat-slider max="10" thumbLabel name="rating"
      [(ngModel)]="coffee.rating" tickInterval="1"></mat-slider>

    <mat-card-subtitle>
      <mat-slide-toggle #tastingSelector [checked]="tastingEnabled"
       (change)="tastingRatingChanged(tastingSelector.checked)">Tasting Ratings</mat-slide-toggle>
    </mat-card-subtitle>

    <section id="tasting" *ngIf="tastingSelector.checked">
      <label>Aroma</label>
<!--      <mat-slider max="10" thumbLabel name="aromaRating"-->
<!--      [(ngModel)]="coffee.tastingRating ? coffee.tastingRating.aroma : null" tickInterval="1"></mat-slider>-->

<!--      <label>Flavor</label>-->
<!--      <mat-slider max="10" thumbLabel name="flavorRating"-->
<!--      [(ngModel)]="coffee.tastingRating ? coffee.tastingRating.flavor : null" tickInterval="1"></mat-slider>-->

<!--      <label>Intensity</label>-->
<!--      <mat-slider max="10" thumbLabel name="intensityRating"-->
<!--      [(ngModel)]="coffee.tastingRating ? coffee.tastingRating.intensity : null" tickInterval="1"></mat-slider>-->

<!--      <label>Sweetness</label>-->
<!--      <mat-slider max="10" thumbLabel name="sweetnessRating"-->
<!--      [(ngModel)]="coffee.tastingRating ? coffee.tastingRating.sweetness : null" tickInterval="1"></mat-slider>-->

      <label>Aftertaste</label>
      <mat-slider max="10" thumbLabel name="aftertasteRating"
                  [(ngModel)]="coffee.tastingRating?.aftertaste"
                  (ngModelChange)="if (coffee.tastingRating) { coffee.tastingRating.aftertaste = $event; }"
                  tickInterval="1">
      </mat-slider>



    </section>

  </mat-card>

  <mat-card>
    <mat-form-field>
      <textarea matInput placeholder="Notes" name="notes" [(ngModel)]="coffee.notes">
    </textarea>
    </mat-form-field>

  </mat-card>

  <mat-card>
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="accent" (click)="save()">Save</button>
  </mat-card>

</form>
