<form>

  <mat-card>
    <mat-card-title>
      Basic Coffee Information
    </mat-card-title>
    <mat-form-field>
      <input [(ngModel)]="coffee.name" matInput name="name" placeholder="Coffee Name">
    </mat-form-field>
    <mat-select [(ngModel)]="coffee.type" name="type" placeholder="Coffee Type">
      <mat-option *ngFor="let type of types" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Place Information
    </mat-card-title>
    <mat-form-field>
      <input [(ngModel)]="coffee.place" matInput name="place" placeholder="Place Name">
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="coffee.location.address" matInput name="address" placeholder="Address">
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="coffee.location.city" matInput name="city" placeholder="City">
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Ratings
    </mat-card-title>

    <mat-card-subtitle>Overall Rating</mat-card-subtitle>
    <mat-slider [(ngModel)]="coffee.rating" max="10" name="rating"
                thumbLabel tickInterval="1"></mat-slider>

    <mat-card-subtitle>
      <mat-slide-toggle #tastingSelector
                        (change)="tastingRatingChanged(tastingSelector.checked)">Tasting Ratings
      </mat-slide-toggle>
    </mat-card-subtitle>

    <section *ngIf="tastingSelector.checked" id="tasting">
      <label>Aroma</label>
      <mat-slider [(ngModel)]="coffee.tastingRating.aroma" max="10" name="aromaRating"
                  thumbLabel tickInterval="1"></mat-slider>

      <label>Flavor</label>
      <mat-slider [(ngModel)]="coffee.tastingRating.flavor" max="10" name="flavorRating"
                  thumbLabel tickInterval="1"></mat-slider>

      <label>Intensity</label>
      <mat-slider [(ngModel)]="coffee.tastingRating.intensity" max="10" name="intensityRating"
                  thumbLabel tickInterval="1"></mat-slider>

      <label>Sweetness</label>
      <mat-slider [(ngModel)]="coffee.tastingRating.sweetness" max="10" name="sweetnessRating"
                  thumbLabel tickInterval="1"></mat-slider>

      <label>Aftertaste</label>
      <mat-slider [(ngModel)]="coffee.tastingRating.aftertaste" max="10" name="aftertasteRating"
                  thumbLabel tickInterval="1"></mat-slider>

    </section>

  </mat-card>

  <mat-card>
    <mat-form-field>
      <textarea [(ngModel)]="coffee.notes" matInput name="notes" placeholder="Notes">
    </textarea>
    </mat-form-field>

  </mat-card>

  <mat-card>
    <button (click)="cancel()" mat-raised-button>Cancel</button>
    <button (click)="save()" color="accent" mat-raised-button>Save</button>
  </mat-card>

</form>
