<form [formGroup]="coffeeForm" (ngSubmit)="onSave()">

  <mat-card>
    <mat-card-title>
      Basic Coffee Information
    </mat-card-title>
    <mat-form-field>
      <input matInput placeholder="Coffee Name" formControlName="name">
      <mat-error *ngIf="coffeeForm.get('name')?.invalid">Please enter a coffee name</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of types" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="coffeeForm.get('type')?.invalid">Please select a coffee type</mat-error>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Place Information
    </mat-card-title>
    <mat-form-field>
      <input matInput placeholder="Place Name" formControlName="place">
      <mat-error *ngIf="coffeeForm.get('place')?.invalid">Please enter a place name</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Address" formControlName="address">
      <mat-error *ngIf="coffeeForm.get('address')?.invalid">Please enter an address</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="City" formControlName="city">
      <mat-error *ngIf="coffeeForm.get('city')?.invalid">Please enter a city</mat-error>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Ratings
    </mat-card-title>
    <mat-card-subtitle>Overall Rating</mat-card-subtitle>
    <mat-slider max="10" thumbLabel formControlName="rating" tickInterval="1"></mat-slider>

    <mat-card-subtitle>
      <mat-slide-toggle #tastingSelector formControlName="tastingEnabled">Tasting Ratings</mat-slide-toggle>
    </mat-card-subtitle>

    <section id="tasting" *ngIf="coffeeForm.get('tastingEnabled')?.value">
      <label>Aroma</label>
      <mat-slider max="10" thumbLabel formControlName="aromaRating" tickInterval="1"></mat-slider>

      <label>Flavor</label>
      <mat-slider max="10" thumbLabel formControlName="flavorRating" tickInterval="1"></mat-slider>

      <label>Intensity</label>
      <mat-slider max="10" thumbLabel formControlName="intensityRating" tickInterval="1"></mat-slider>

      <label>Sweetness</label>
      <mat-slider max="10" thumbLabel formControlName="sweetnessRating" tickInterval="1"></mat-slider>

      <label>Aftertaste</label>
      <mat-slider max="10" thumbLabel formControlName="aftertasteRating" tickInterval="1"></mat-slider>
    </section>

  </mat-card>

  <mat-card>
    <mat-form-field>
      <textarea matInput placeholder="Notes" formControlName="notes"></textarea>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <div class="form-button">
      <button mat-raised-button color="accent" type="submit" [disabled]="!coffeeForm.valid">Save</button>
      <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </mat-card>

</form>
